#walking {
    position: absolute;
    width: 50px;
    left: 350px;
}

#running {
    position: absolute;
    width: 50px;
    left: 350px;
}

#sitting {
    position: absolute;
    width: 50px;
    top: 150px;
    left: 350px;
}