@import url('https://fonts.googleapis.com/css2?family=Bookman+Old+Style&display=swap');

body {
  margin: 0;
  font-family: 'Bookman Old Style', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

